<main class="flex-center text-center flex-grow">

    <div class="msg-box">
      <div class="space-large"></div>
      <div class="flex-center">
        <div style="height: 100px; width: 100px;">
          <img src="/graphics/SmnIcon_Circle_White.svg" alt="">
        </div>
      </div>
      <div class="space-large"></div>
      <h4>Under Construction</h4>
      <p class="space-small"></p>
      <p>This site is under construction, come back later for some cool stuff.</p>
      <div class="space-large"></div>
    </div>
  </main>